---
import "./header.css"
---

<header class="header">
    <img class="header_logo" src="/public/avatarFelino.png" alt="Logo">
    <h1 class="header_title">LUIGI UCHIHA</h1>
    <p class="header_description">Streamer | Developer</p>
</header>