---
import "./Footer.css";
---

<footer class="footer">
    <p class="footer-description">Develop By <a class="footer-link" href="https://www.linkedin.com/in/luis-hoyos-mejia-731a78243" target="_blank">Luis Mejia</a> © 2026</p>
    <p class="footer-description">🐙 <a class="footer-link" href="https://github.com/MejiaLuigi" target="_blank">GitHub</a></p>
</footer>