@import "../../styles/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--PerfectGray);
  text-align: center;
  padding: 20px;
}
.footer-description {
  margin: 5px 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: italic;
}

.footer-link {
  color: var(--PerfectGray);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--BikiniRed);
  transition: color 0.3s ease;
}
