---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/avatarFelino.png" />
    <link rel="icon" href="/logo_mono_felino.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Luigi Uchiha - Official Links</title>
    <meta
      name="description"
      content="Sigue a Luigi Uchiha en todas sus redes sociales y transmisiones en vivo."
    />
	
	<!-- Open Graph (redes sociales) -->
    <meta name="author" content="Luis Mejia" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Luigi Uchiha - Official Links" />
    <meta
      property="og:description"
      content="Sigue a Luigi Uchiha en todas sus redes y transmisiones en vivo."
    />
    <meta property="og:image" content="/avatarFelino.png" />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <slot />
  </body>
</html>
